h1{
  font-size: 5em;
  margin: 0;
  padding: 50px;
  padding-left: 8em;
  border-bottom:5px solid black;
}

body{
  margin: 0;
}

ul{
  margin: 0;
  padding: 50px;
  padding-left: 70px;
  list-style-type: decimal-leading-zero;
  border-right:5px solid black;
  width: 15em;
  font-size: 20px;
  font-weight:bold;
}
ol{
  list-style:square;
  padding: 1em;
}

#mainpicture {
  text-align: center;
  padding: 50px;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-size: 2em;
}

#grid{
  display: grid;
  grid-template-columns: 25em 1fr;
}
#grid #picture{
  padding-left: 10em;
  padding-top: 5em;

}

figcaption{
  padding-left: 25em;
  font-weight: bold;
}
